[Unit]
Description=Secure server providing multi-user, multi-client access to task data
After=network.target
Documentation=http://taskwarrior.org/docs/

[Service]
ExecStart=/usr/bin/taskd server --data /var/lib/taskd
Restart=on-abort
Type=simple
User=taskd
Group=taskd
WorkingDirectory=/var/lib/taskd
PrivateTmp=true
InaccessibleDirectories=/home /root /boot /opt /mnt /media
ReadOnlyDirectories=/etc /usr

[Install]
WantedBy=network.target
